---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Event from '../components/EventCard.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/global.css'
import EventCard from '../components/EventCard.astro';



// const allPosts = await Astro.glob('./post/*.md');
// const sortedPosts = allPosts.filter(f=> f.frontmatter.draft != true).sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
// const totalPage = Math.max(1, Math.ceil(allPosts.length / Config.pageSize));
---


<MainLayout pageTitle=''>
	<EventCard/>
</MainLayout>