---
import { Collapse } from "react-daisyui";
// import React, { useState } from 'react'
import { getMonthName } from "../utils";

// const [isOpen, setIsOpen] = useState(false)
//   const handleToggle = () => {
//     console.log('toggled!')
//   }

//   const handleOpen = () => {
//     setIsOpen(true)
//   }

//   const handleClose = () => {
//     setIsOpen(false)
//   }
const { title, date, description } = Astro.props;
---

<div class='card card-side bg-base-100 shadow-xl'>
  <!-- <div class="date-wrapper">
    <p class="date-text">18 June 2023</p>
  </div> -->
  <div class='sm:w-20 md:w-32'>
    <div class='post-preview__date'>
      <!-- <span class="post-preview__date__day">{ new Date(post.date).getDate() }</span>
        <span class="post-preview__date__month-n-year">{ `${getMonthName(post.date)} ${new Date(post.date).getFullYear()}` }</span> -->
      <span class='post-preview__date__day'>13</span>
      <span class='text-gray-400 text-xl'>Jun 2023</span>
    </div>
  </div>
  <div class='collapse collapse-arrow border border-base-300 bg-base-200'>
    <input type="checkbox" class="peer" /> 
    <h2 class='card-title collapse-title text-xl font-medium'>KELAS SIDANG DHAMMA 1 HARI</h2>
    <div class='collapse-content'>
      <p>DESKRIPSI KELAS, PERSYARATAN Peserta</p>
      <div class='card-actions justify-end'>
        <button class='btn btn-primary'>DAFTAR</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card card-side bg-base-100 shadow-xl">
  <figure><img src="/images/stock/photo-1635805737707-575885ab0820.jpg" alt="Movie"/></figure>
  <div class="card-body">
    <h2 class="card-title">New movie is released!</h2>
    <p>Click the button to watch on Jetflix app.</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Watch</button>
    </div>
  </div>
</div> -->

<!-- <div class="w-64 rounded-lg overflow-hidden shadow-md">
  <img class="w-full h-32 object-cover" src="your-avatar-image.jpg" alt="Avatar">
  <div class="p-4">
    <h2 class="text-lg font-bold">John Doe</h2>
    <p class="text-gray-500">Software Developer</p>
    <div class="flex items-center mt-4">
      <svg class="w-4 h-4 mr-2 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm0 14a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" />
      </svg>
      <p class="text-gray-500">Joined on <span class="font-semibold">June 13, 2023</span></p>
    </div>
  </div>
</div> -->

<style>
  .post-preview {
    @apply flex gap-6;
  }
  .post-preview__date {
    @apply flex flex-col w-full text-center;
  }
  .post-preview__date__day {
    @apply text-6xl font-semibold text-gray-500 dark:text-gray-300;
  }
  .post-preview__date__month-n-year {
    @apply text-gray-400;
  }
  /* .post-preview {
      @apply  flex gap-6;
  }
  .post-preview__date {
      @apply flex flex-col w-full text-center;
  }
  .post-preview__date__day {
      @apply text-6xl font-semibold text-gray-500 dark:text-gray-300;
  }
  .post-preview__date__month-n-year {
      @apply text-gray-400;
  }
  .post-preview__title {
      @apply text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary this doesn't works here hover:underline mb-2;
  }
  .post-preview__desc {
      @apply text-lg leading-6 line-clamp-2 dark:text-white hyphens-auto;
  } */
</style>
