---
import Config from '../daxin.config.cjs';
import {Icon} from 'astro-icon';
import {NavItem} from '../types.ts'
import ThemeSwitcher from './ThemeSwitcher.astro';

const navItems: Array<NavItem>=[
  {
    title:"Home" ,
    icon: "fa:home",
    url:  "#Home",
  },
  {
    title:"Kelas" ,
    icon: "fa:calendar",
    url:  "#Kelas",
  },
  {
    title:"Kegiatan" ,
    icon: "",
    url:  "",
  },
  {
    title:"" ,
    icon: "",
    url:  "",
  },
];
---

<div class="pt-4">
    <ul class="menu bg-base-100 rounded-box">
      <li>
        <a href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            ></path>
          </svg>
          {Config.menu?.home ? Config.menu.home : "Home"}
        </a>
      </li>
      <li>
        <a href="/about">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
            ></path>
          </svg>
          {Config.menu?.about ? Config.menu.about : "About"}
        </a>
      </li>
      <li>
        <a href="/categories">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2"
            ></path>
          </svg>
          {Config.menu?.categories ? Config.menu.categories : "Categories"}
        </a>
      </li>
      <li>
        <a href="/search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
          {Config.menu?.search ? Config.menu.search : "Search"}
        </a>
      </li>
      <li>
        <a href="/archive">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
            ></path>
          </svg>
          {Config.menu?.archive ? Config.menu.archive : "Archive"}
        </a>
      </li>
      <div class="divider"></div>
      <li class="hidden lg:block">
        <div class="flex gap-1 justify-center">
          <ThemeSwitcher />
        </div>
      </li>
    </ul>
  </div>