---
import BaseHead from '../components/BaseHead.astro';
import second from '../components/BaseHead.astro'
import EventCard from '../components/EventCard.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

export interface Props{
	pageTitle : string;
}

const {pageTitle} = Astro.props;
---


<!DOCTYPE html>
<html lang="en" data-theme="pastel">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content="{Astro.generator} ">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<!-- <slot name="header"/> -->
		<title>{pageTitle} </title>
	</head>
	
	<body>
		
		<slot />
		
		<!-- <slot/> -->
	</body>
</html>



























































